@using Market.Data.Models
@model Offer

@{
    ViewData["Title"] = "Description";
    string url = ViewBag.url;
}

<section class="offer-section">
    <div class="offer-container">
        <img class="image-display" src="@url" alt="current offer image" />
        <div class="offer-data-container">
            <h1>
                @(Model.Title)
                <span class="offer-item__rating">
                    @for (int i = 0; i < 5; i++)
                    {
                        <i class="offer-item__rating-star @(Model.AvgRating >= i + 1 ? "fas fa-star" : "far fa-star")"></i>
                    }
                </span>
            </h1>
            <hr />
            <div class="offer-date__undertitle">
                <h3>
                    <i class="fa-solid fa-location-dot"></i>
                    @Model.Town
                </h3>
                @if (User.IsInRole("Organization"))
                {
                    <div class="row">
                        <h4>
                            @(Model.PricePerKG * (100 - Model.Discount) / 100) BGN /KG
                        </h4>
                        <h4 class="strikethrough">@Model.PricePerKG</h4>
                        <i class="fa-solid fa-tag"></i>
                    </div>
                }
                else
                {
                    <h4 class="strikethrough">@Model.PricePerKG BGN /KG <i class="fa-solid fa-tag"></i></h4>
                    

                }

            </div>

            <p class="offer-description">@Model.Description</p>

            <form asp-action="Add" asp-controller="Cart">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="OwnerId" value="@Model.OwnerId" />
                <input type="hidden" name="PricePerKG" value="@Model.PricePerKG" />
                <input type="hidden" name="Discount" value="@Model.Discount" />
                <input type="hidden" name="Title" value="@Model.Title" />
                <input type="hidden" name="AvgRating" value="@Model.AvgRating" />
                <input type="hidden" name="Description" value="@Model.Description" />
                <input type="hidden" name="Stock" value="@Model.Stock" />
                <input type="hidden" name="StockId" value="@Model.StockId" />
                <input type="hidden" name="Town" value="@Model.Town" />
                <div class="row">
                    <button class="custom-file-upload" type="submit">Add To Cart</button>
                    <input type="number" name="quantity" placeholder="Quantity" required/>
                </div>
            </form>

        </div>
    </div>
</section>



